<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/style.css">
  <title>Movieflix</title>
</head>

<body>
  <!-- Your Code Goes Here -->
  <% if (movieSearchDesc == undefined) { %>
    <p>Movie cannot be found</p>
  <% } else { %>
    <h1><%= movieSearch %></h1>
    <p><%= movieSearchDesc %></p>
  <% } %>
  <!-- href should go to the main page depends on your prof answer-->
  <a href="/">Go back to homepage</a>
</body>

</html>